@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide {
  display: none;
}

body {
  height: 100svh;
}

.ql-editor {
  font-size: 1.05rem;
}

.blog-content p {
  @apply mb-2;
}

.blog-content h1 {
  @apply text-2xl font-semibold my-6 mx-0;
}

.blog-content h2 {
  @apply text-[1.4rem] my-6 mx-0;
}

.blog-content a {
  color: rgb(73 149 199);
  text-decoration: none;
}

.blog-content a:hover {
  text-decoration: underline;
}
